{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="col-md-10">
    {% for item in news %}
    <div class="card mb-3">
        <h5 class="card-header">Категория:
            {% if item.category.id %}
            <a href='{% url "category" item.category.id %}'> {{ item.category.title }}</a>
            {% endif %}
        </h5>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <p><img class="mb-3 mr-5" src="{{item.photo.url}}" alt="" width="350"></p>
                {% else%}

                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    {% autoescape off %}
                    <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                    {% endautoescape %}
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Опубликовано: {{ item.created_at|timesince }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

